.app {
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 95vw;
}

.canvas {
  position: relative;
  border-radius: 0.5rem;
  width: inherit;
  height: 80vh;
  background-color: #020202;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  margin-bottom: 1rem;
}

.shapes {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

.shape {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #6f6f6f;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shape-hover {
  position: absolute;
  top: -30px;
  width: 70px;
  height: 25px;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adadad;
  color: #020202;
}

.shape-active {
  border: 1px solid red;
}

.config {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 40px;
}

.config h3 {
  font-weight: 400;
  color: #020202;
}

.slider,
.color-picker {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #6f6f6f;
  padding: 0 20px;
  height: inherit;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0 20px;
  border-radius: 0.5rem;
  color: white;
}

.actions button:disabled {
  color: #6f6f6f;
}

.actions .clear:disabled {
  color: #adadad;
}

.clear {
  background-color: red;
}

.undo,
.redo {
  background-color: #020202;
}

@media (max-width: 860px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .actions,
  .shapes,
  .config {
    width: inherit;
    justify-content: center;
  }

  .config h3 {
    font-size: 1rem;
  }

  .slider,
  .color-picker {
    padding: 0 10px;
  }
}
